<!-- <ol>
  <li ng-repeat="item in list.found">
    {{ item.name }}, {{ item.short_name }}, {{item.description}}
    <button class="btn" ng-click="list.onRemove({index: $index});">Don't want this one!</button>
  </li>
</ol> -->

<div class="table-responsive clearleft">
<table class="table table-striped">
  <thead>
    <tr>
      <th class="text-center">Short Name</th>
      <th class="text-center">Name</th>
      <th class="text-center">Description</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="item in list.found">
      <th class="text-center" >{{item.short_name}}</th>
      <th class="text-center">{{item.name}}</th>
      <th ng-bind-html="item.description"></th>
      <th><button class="btn" ng-click="list.onRemove($index);">Don't want this one!</button></th>
    </tr>
  </tbody>
</table>
<div class="error" ng-if="!list.found.length">Nothing found!</div>
</div>