<a ui-sref="home">Home</a> &lt; <a ui-sref="mainList">Categories</a> &lt; <span>{{itemDetail.items.category.name}}</span>

<h3>Menu for {{itemDetail.items.category.name}}</h3>
<div class="table-responsive">
<table class="table table-striped">
  <thead>
    <tr>
      <th class="text-center">Short Name</th>
      <th class="text-center">Name</th>
      <th class="text-center">Description</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="item in itemDetail.items.menu_items">
      <th class="text-center" >{{item.short_name}}</th>
      <th class="text-center">{{item.name}}</th>
      <th>{{item.description}}</th>
    </tr>
  </tbody>
</table>
</div>